/bin
/target

/.classpath
/.project
/.settings
/.factorypath

/.polyglot.metaborg.yaml

**/*.js
**/*.html
**/*.wasm
**/*.aterm
**/*pp*

*.constraints
*.scope-graph
*.name-resolution
*.unifier
*.symbolic
